/* Filters.css */
.filters {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    gap: 10px;
}

.search-category {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    font-size: 14px;
}

.search-input {
    padding: 10px;
    width: 500px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.search-button {
    padding: 10px 20px;
    background-color: #0071e3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    text-transform: uppercase;
    transition: background-color 0.3s;
}

.search-button:hover {
    background-color: #005bb5;
}
